<section class="who gray-bg">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center global-title text-darker-gray">
        What can you expect
      </h2>
    </div>
    <div class="small-12 columns">
      <h3 class="text-center global-subtitle text-dark-gray secondary-font">
        Transparent ROI, Great Content, Great Traffic
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 small-12 columns text-center">
      <div class="wrapper">
        <img src="assets/img/icons/investment.svg" alt="">
        <h3 class="name">
          Transparent ROI
        </h3>
        <p class="information secondary-font">
          You'll be able to see which content is bringing you the best trafic.
        </p>
      </div>
    </div>
    <div class="medium-4 small-12 columns text-center">
      <div class="wrapper">
        <img src="assets/img/icons/content.svg" alt="">
        <h3 class="name">
          Great Content
        </h3>
        <p class="information secondary-font">
          Your blog will be powered up with content that is proven to work with your audience.
        </p>
      </div>
    </div>
    <div class="medium-4 small-12 columns text-center">
      <div class="wrapper">
        <img src="assets/img/icons/traffic.svg" alt="">
        <h3 class="name">
          Great Traffic
        </h3>
        <p class="information secondary-font">
          You’ll reach new audiences that matter to your brand’s vision.
        </p>
      </div>
    </div>
  </div>
</section>
