<section class="landing-hero page-wrapper">
  <div class="row align-middle">
    <div class="small-8 small-offset-2 columns text-center">
      <h1 class="tagline">
       Content Marketing Simplified
      </h1>
      <h2 class="subtitle">
       We'll bring quality content and targeted traffic to your blog
      </h2>
      <a data-open="modal-form" type="button" class="success button">Talk to us</a>
    </div>
  </div>
</section>


<div class="reveal landing-modal-form" id="modal-form" data-reveal>
<div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/ec66e595a870a0f4d62ceff24b317c59"><script src="https://pipedrivewebforms.com/webforms.min.js"></script></div>
</div>
