<section class="how-it-works page-wrapper">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center global-title text-darker-gray">
        Our Process
      </h2>
    </div>
    <div class="small-12 columns">
      <h3 class="text-center global-subtitle text-dark-gray secondary-font">
        We work hard to find content that's perfect for your current and future audience.
      </h3>
    </div>
    <div class="medium-4 columns">
      <div class="wrapper text-center">
        <h6 class="step">
          Step 1
        </h6>
        <img src="assets/img/icons/audience.svg" alt="">
        <h3 class="title">
          Tell us who your audience is.
        </h3>
        <p class="information secondary-font text-dark-gray">
          eg: Are your customers project managers or developers?
        </p>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="wrapper text-center">
        <h6 class="step">
          Step 2
        </h6>
        <img src="assets/img/icons/marketing.svg" alt="">
        <h3 class="title">
          We'll define the right content marketing strategy.
        </h3>
        <p class="information secondary-font text-dark-gray">
          eg: We should be producing more posts about devops
        </p>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="wrapper text-center">
        <h6 class="step">
          Step 3
        </h6>
        <img src="assets/img/icons/investment.svg" alt="">
        <h3 class="title">
          Measure and Optimise your Content ROI
        </h3>
        <p class="information secondary-font text-dark-gray">
          eg: Are these visitors converting into signups?
        </p>
      </div>
    </div>
  </div>
</section>
