<div class="large reveal" id="apply-modal" data-reveal>
  <form class="original-content-form">
    <div class="row">
      <div class="medium-6 columns">
        <h3 class="title">
          Tell us about your online presence
        </h3>
        <p class="info">
          This information will help us give you better estimates on our meeting.
        </p>
        <div class="form-container">
          <label>Name
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Email
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Email
            <input type="email">
          </label>
        </div>
        <div class="form-container required">
          <label>Website / Blog
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Social Profile
            <input type="text" placeholder="Twitter or LinkedIn">
          </label>
        </div>
      </div>
      <div class="medium-6 columns">
        <h3 class="title">
          Tell us about your online presence
        </h3>
        <p class="info">
          This information will help us give you better estimates on our meeting.
        </p>
        <div class="form-container">
          <label>Name
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Email
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Email
            <input type="email">
          </label>
        </div>
        <div class="form-container required">
          <label>Website / Blog
            <input type="text">
          </label>
        </div>
        <div class="form-container required">
          <label>Social Profile
            <input type="text" placeholder="Twitter or LinkedIn">
          </label>
        </div>
      </div>
    </div>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
