<section class="what-we-do">
  <div class="wrapper first-wrapper">
    <div class="row align-middle">
      <div class="medium-7 small-12 columns">
        <div class="content-box">
          <h6 class="title">
            <img src="assets/img/icons/licensing.svg" alt="">
            Our Pricing
          </h6>
          <h2 class="heading">
            Why should you pay for content that doesn't bring traffic?
          </h2>
          <hr>
          <p class="information secondary-font">
            Typical content marketing agencies charge you 1000s of $s in flat fees and production comissions for content that is unproven to convert into visitors. We don't think that's fair. With Codeplace, you only pay when you get traffic.
          </p>
          <button class="hollow button" data-open="modal-form" type="button">KNOW MORE</button>
        </div>
      </div>
      <div class="medium-4 medium-offset-1 small-12 columns">
        <div class="pricing-wrapper">
        <h5>Get Curated Traffic</h5>
        <h3>1k</h3>
        <p>Guranteed Monthly Views </p>
        <ul>
          <li>Content Analytics</li>
          <li>Audience Insights</li>
          <li>Client Success Manager</li>
          <li>24/7 Email and Phone Support</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
