<section class="who">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center global-title text-darker-gray">
        Get published, get exposure, get paid
      </h2>
    </div>
    <div class="small-12 columns">
      <h3 class="text-center global-subtitle text-dark-gray secondary-font">
        Work with the best companies to share content techies want to read about
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 small-12 columns">
      <div class="wrapper">
        <img src="assets/img/icons/developers.svg" alt="">
        <h3 class="name">
          Developers
        </h3>
        <p class="information secondary-font">
          Share tutorials, think pieces, tips and guides about specific languages or development in general.
        </p>
      </div>
    </div>
    <div class="medium-3 small-12 columns">
      <div class="wrapper">
        <img src="assets/img/icons/designers.svg" alt="">
        <h3 class="name">
          UI / UX Designers
        </h3>
        <p class="information secondary-font">
          Spread your insights in the field of UI/UX and create amazing pieces that designers will love to share.
        </p>
      </div>
    </div>
    <div class="medium-3 small-12 columns">
      <div class="wrapper">
        <img src="assets/img/icons/managers.svg" alt="">
        <h3 class="name">
          Project Managers
        </h3>
        <p class="information secondary-font">
          Publish content that resonates among project managers and helps build better teams.
        </p>
      </div>
    </div>
    <div class="medium-3 small-12 columns">
      <div class="wrapper">
        <img src="assets/img/icons/tech.svg" alt="">
        <h3 class="name">
          Tech Enthusiasts
        </h3>
        <p class="information secondary-font">
          Tech content doesn't need to be for developers only. Share pieces that tech enthusiasts will love to read about.
        </p>
      </div>
    </div>
  </div>
</section>
